
<div class="col-md-12">
    <div class="x_panel">
		<div class="x_title">
			<h2>Etnia</h2>
			<div class="clearfix"></div>
		</div>
      	<div class="x_content">
      		<form name="Etnias">
      			<br>
		        <div class="form-group">
				    <label >Nombre</label>
				    <input ng-model="Etnia.nombre" type="text" class="form-control" placeholder="" name="nombre">
			  	</div>
			  	<button type="submit" class="btn btn-default btn-primary" ng-click="agregar()" ng-disabled="!Etnia.nombre">
			  		<i class="fa "></i> Editar
			  	</button>	
      		</form>
	        
	    </div>    		
	</div>	
</div>