<div class="clearfix"></div>
  <div class="">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" ng-class="{active: isActive('/etnia/list')}">
                <a ui-sref=".list"><i class="fa fa-list-ol"></i> Todas las Etnias</a>
              </li>
              <li role="presentation" ng-class="{active: isActive('/etnia/create')}">
                <a ui-sref=".create"><i class="fa fa-plus"></i> Crear nueva Etnia</a>
              </li>
            </ul>
          </div>
        </div>
        <div ui-view></div>
      </div>
    </div>
</div>