

<div class="col-md-12">
    <div class="x_panel">
		<div class="x_title">
			<h2>General <small>Especificaciónes del caso</small></h2>
			<div class="clearfix"></div>
		</div>
      	<div class="x_content">
	        <br>
	        <form name="Primero" class="form-horizontal form-label-left input_mask" ng-show="mostrar.primero">

	        	<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" >
					<select name="tipocaso_id" ng-model="Caso.tipocaso_id" ng-options="tipocaso.id as tipocaso.nombre for tipocaso in tipocasos" class="form-control" ng-required="true">
		          		<option value="">Seleccione el tipo de caso</option>
		          	</select>
	        	</div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group ">
                    <input
                        type="text" class="form-control has-feedback-left" name="fecha_caso"
                        ng-disabled="true"
                        ng-required="true"
                        value="{{Caso.fecha | date:'dd-MM-yyyy'}}"
                    >
                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                </div>

				<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
					<select name="lugar_id" ng-model="Caso.lugar_id" ng-options="lugar.id as lugar.nombre for lugar in lugares" class="form-control" ng-required="true">
		          		<option value="">Lugar de Acontecimiento</option>
		          	</select>
	        	</div>

				<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
					<select name="Encargado" ng-model="Caso.user_id" ng-options="user.id as user.name for user in usuarios" class="form-control" ng-required="true">
		          		<option value="">Encargado de atender el caso</option>
		          	</select>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
					<select name="dondeatiende_caso" ng-model="Caso.atendio_id" ng-options="lugar.id as lugar.nombre for lugar in lugares" class="form-control" ng-required="true">
		          		<option value="">Lugar donde se atiende</option>
		          	</select>
	        	</div>

	        	<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	        		<label for="message">Descripción del Caso</label>
	              	<textarea ng-model="Caso.descripcion" id="message" ng-required="true" class="form-control" name="descripcion_caso" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"
	              	rows="5"
	              	></textarea>
	        	</div>
			</form>
			<button ng-show="!mostrar.primero" class="btn btn-primary btn-xs pull-right" ng-click="sh_primero()" ng-disabled="Primero.$invalid">Paso anterior</button>
			<button  ng-show="mostrar.primero" class="btn btn-primary btn-xs pull-right" ng-click="sh_primero()" ng-disabled="Primero.$invalid">Siguiente Paso</button>
		</div>
	</div>	

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos <small>Información del Mandante y Demandado</small></h2>
			<div class="clearfix"></div>
		</div>
	  	<div class="x_content">
		    <br>
		    <form name="Segundo" ng-show="mostrar.segundo" class="form-horizontal form-label-left input_mask">
		    	<div class="col-md-6">
		    		<h4>Demandante</h4>

					<div class="col-md-12 col-xs-12 form-group has-feedback">
						<input ng-model="Demandante.nombre" type="text" class="form-control has-feedback-left" ng-required="true" name="nombre_demandante" placeholder="Nombre ">

						<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-12 col-xs-12 form-group has-feedback">
						<input ng-model="Demandante.apellido" type="text" class="form-control has-feedback-left" ng-required="true" name="apellido_demandante" placeholder="Apellido ">

						<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-6 col-xs-12 form-group has-feedback">
						<input ng-model="Demandante.dpi" type="number" class="form-control has-feedback-left" ng-required="true" name="apellido_demandante" placeholder="DPI ">
						<span class="fa fa-id-card form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
						<select ng-model="Demandante.sexo" id="heard" class="form-control" ng-required="true" name="sexo_id_demandante">
							<option value="">Sexo </option>
							<option value="0">F</option>
							<option value="1">M</option>
						</select>
		        	</div>
		        	<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
		        		<label>Fecha de Nacimiento</label>
						<input ng-model="Demandante.fecha_nacimiento" type="date" class="form-control has-feedback-left" ng-required="true" name="fecha_nacimiento_demandante">
						<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
						<select name="lugar_id_demandante" ng-model="Demandante.lugar_id" ng-options="lugar.id as lugar.nombre for lugar in lugares" class="form-control" ng-required="true">
			          		<option value="">Lugar de Recidencia</option>
			          	</select>
		        	</div>
		        	<div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
						<input ng-model="Demandante.telefono" type="number" placeholder="Teléfono" class="form-control has-feedback-left" ng-required="true" name="telefono_demandante">
						<span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
					</div>
		    	</div>
		    	<div class="col-md-6">
		    		<h4>Demandado</h4>

					<div class="col-md-12 col-xs-12 form-group has-feedback">
						<input ng-model="Demandado.nombre" type="text" class="form-control has-feedback-left" ng-required="true" name="nombre_demandado" placeholder="Nombre ">

						<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-12 col-xs-12 form-group has-feedback">
						<input ng-model="Demandado.apellido" type="text" class="form-control has-feedback-left" ng-required="true" name="apellido_demandado" placeholder="Apellido ">

						<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-6 col-xs-12 form-group has-feedback">
						<input ng-model="Demandado.dpi" type="number" class="form-control has-feedback-left" ng-required="true" name="apellido_demandado" placeholder="DPI ">
						<span class="fa fa-id-card form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
						<select ng-model="Demandado.sexo" id="heard" class="form-control" ng-required="true" name="sexo_id_demandado">
							<option value="">Sexo </option>
							<option value="0">F</option>
							<option value="1">M</option>
						</select>
		        	</div>
		        	<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
		        		<label>Fecha de Nacimiento</label>
						<input ng-model="Demandado.fecha_nacimiento" type="date" class="form-control has-feedback-left" ng-required="true" name="fecha_nacimiento_demandado">
						<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
						<select name="lugar_id_demandado" ng-model="Demandado.lugar_id" ng-options="lugar.id as lugar.nombre for lugar in lugares" class="form-control" ng-required="true">
			          		<option value="">Lugar de Recidencia</option>
			          	</select>
		        	</div>
		        	<div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
						<input ng-model="Demandado.telefono" type="number" placeholder="Teléfono" class="form-control has-feedback-left" ng-required="true" name="telefono_demandado">
						<span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
					</div>
		    	</div>
			</form>

			<button ng-show="!mostrar.segundo && !mostrar.primero" class="btn btn-primary btn-xs pull-right" ng-click="sh_segundo()" ng-disabled="Segundo.$invalid">Paso anterior</button>
			<button ng-show="mostrar.segundo && !mostrar.primero" class="btn btn-primary btn-xs pull-right" ng-click="sh_segundo()" ng-disabled="Segundo.$invalid">Siguiente Paso</button>
		</div>
	</div>	

	<div class="x_panel">
		<div class="x_title">
			<h2>Cita <small>Fecha de cita</small></h2>
			<div class="clearfix"></div>
		</div>
	  	<div class="x_content">
		    <br>
		    <form name="Tercero" ng-show="mostrar.tercero" class="form-horizontal form-label-left input_mask">

		    	<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
		    		<label>Fecha de cita</label>
					<input ng-model="Cita.fecha" type="date" class="form-control has-feedback-left" ng-required="true" name="fecha_cita">
					<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
		    		<label>Hora</label>
					<input ng-model="Cita.hora" type="time" class="form-control has-feedback-left" ng-required="true" name="hora_cita">
					<span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
				</div>
			</form>

			<button class="btn btn-primary btn-md pull-right" ng-click="agregar()" ng-disabled="Primero.$invalid || Segundo.$invalid || Tercero.$invalid">Guardar Caso</button>
		</div>		
	</div>	
</div>